<select #LiveProgramCtrl>
        <option value="0">--Select--</option>  
        <option *ngFor="let live of LiveProgram"  
        [value]="live.id">
            {{live.ProgamID}}
</select>
<button (click)="OnClickLiveProgram(LiveProgramCtrl.value)">click me</button>