<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h1>Danh Sách Chương Trình</h1>
        </header>
        <div class="col-lg-12">
                <!-- <div>
                        Colour Preference:
                        <input type='text' [(ngModel)]='colour' [style.background]='colour'/> 
                </div> -->
                <div class="panel-body">
                        <form class="form-horizontal" role="form">   
                                <app-table [items]="liveprograms" [field1]="field1" [field2]="field2"[field3]="field3"[field4]="field4"></app-table>                         
                            <!-- <table class="table table-striped table-advance table-hover" id="table_Live" style="width: 100%"> -->
                                <!-- <thead>
                                    <tr>
                                        <th><i class="icon-bullhorn"></i> Mã CT</th>
                                        <th><i class="icon-list"></i> Tên CT</th>
                                        <th><i class="icon-time"></i> Thời Gian Diễn Ra CT</th>
                                        <th><i class="icon-time"></i> Thời Gian Kết Thúc CT</th>
                                        <th><i class="icon-list"></i> Địa Điểm Diễn Ra CT</th>
                                        <th><i class="icon-list"></i> Hợp Đồng Fti(Con)</th>
                                        <th><i class="icon-list"></i> Hợp Đồng Ftel</th>
                                        <th><i class="icon-list"></i> Người Tạo</th>
                                        <th><i class="icon-list"></i> Người Duyệt</th>
                                        <th><i class="icon-list"></i> Trạng thái</th>
                                        <th><i class="icon-list"></i> Công Cụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor = "let liveprogram of liveprograms">
                                        <tr>
                                            <td>{{liveprogram.ProgamID}}</td>
                                            <td>{{liveprogram.Title}}</td>
                                            <td>{{liveprogram.TimeLive}}</td>
                                            <td>{{liveprogram.EndTimeLive}}</td>
                                            <td>{{liveprogram.Address}}</td>
                                            <td>{{liveprogram.Contract1}}</td>
                                            <td>{{liveprogram.Contract2}}</td>
                                            <td>{{liveprogram.UserCreate}}</td>
                                            <td>{{liveprogram.ApproveUser}}</td>
                                            <td [innerHTML]="liveprogram | LiveStatePipe: liveprogram"></td>
                                            <td>
                                                <input type="button" title="Cập nhật CT" [routerLink]="['/updateprogram',liveprogram.id]" class="form-control" value="Cập nhật">
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table> -->
                        </form>
                    </div>
        </div>
    </section>
</div>
