
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-home"></i> Trang Chủ</a></li>
                    <li><a href="#">Quản lý Chương Trình Live</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue ">
                        <ul id="sumtab" class="nav nav-tabs">
                            <li id="LoadDS_Livetab" routerLinkActive="active">
                                <a data-toggle="tab" title="Danh sách chương trình" routerLink="listprogram">DS chương trình</a>
                            </li>
                            <li id="capnhatCTtab" routerLinkActive="active">
                                <a data-toggle="tab" title="Cập Nhật Thông Tin Chương Trình" routerLink="updateprogram">Cập Nhật CT</a>
                            </li>          
                            <li id="gamemokettab" routerLinkActive="active">
                                    <a data-toggle="tab" title="Danh sách Chương Trình Game Mở Két" routerLink="gamemoket">DS Game Mở Két</a>
                            </li>                   
                        </ul>
                    </header>
                    <div class="panel-body" style="background-color: #eaeef3">
                        <div class="tab-content">
                          <router-outlet></router-outlet>                       
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
