<!-- {{LiveProgram | json}} -->
<ng-container *ngFor = "let liveprogram of LiveProgram">
<div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                    <label for="inputPassword1" class="col-lg-4 col-sm-2 control-label">Tên Chương Trình</label>
                    <div class="col-lg-8">
                        <input required="required" type="text" class="form-control m-bot15" [(ngModel)]="liveprogram.Title" style="margin-bottom:5px"  />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-4 col-sm-2 control-label">Tên Chương Trình (EN)</label>
                    <div class="col-lg-8">
                        <input required="required" type="text" class="form-control m-bot15" [(ngModel)]="liveprogram.TitleEN" style="margin-bottom:5px">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-4 col-sm-2 control-label">Nội Dung Chương Trình</label>
                    <div class="col-lg-8">
                        <textarea id="LiveContent_CT" class="form-control m-bot15" rows="5" cols="68" style="font-size: 15px;margin-bottom:5px" maxlength="1000" [(ngModel)]="liveprogram.Description"></textarea>
                    </div>
                </div>
                <div class="form-group" data-date-format="dd/mm/yyyy hh/mm/ss">
                    <label for="inputEmail1" class="col-lg-4 col-sm-2 control-label">Thời Gian Diễn Ra Chương Trình</label>
                    <div class="col-lg-8">
                        <input id="Thoigian" placeholder="Lựa Chọn Thời Gian" class="form-control form_datetime m-bot15" [(ngModel)]="liveprogram.TimeLive" style="margin-bottom:5px">
                    </div>
                </div>
                <div class="form-group" data-date-format="dd/mm/yyyy hh/mm/ss">
                    <label for="inputEmail1" class="col-lg-4 col-sm-2 control-label">Thời Gian Kết Thúc Chương Trình</label>
                    <div class="col-lg-8">
                        <input id="Thoigian" placeholder="Lựa Chọn Thời Gian" class="form-control form_datetime m-bot15" [(ngModel)]="liveprogram.EndTimeLive" style="margin-bottom:5px">
                    </div>
                </div>
        </div>
</div>
</ng-container>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" id="SuaPhim">
        <button (click)="onClickUpdate()">Cập Nhật</button>
        
</div>