<div class="col-lg-12">
        <!-- <div>
                Colour Preference:
                <input type='text' [(ngModel)]='colour' [style.background]='colour'/> 
        </div> -->
    <section class="panel">
        <header class="panel-heading">
            <h1>Danh Sách Chương Trình Game Mở Két</h1>
        </header>
        <div class="col-lg-12">
                <div class="panel-body">
                        <form class="form-horizontal" role="form">   
                                <app-table [items]="gamemokets" [field1]="field1" [field2]="field2"[field3]="field3"></app-table>                                                      
                        </form>
                </div>
        </div>
        
        <div class="col-lg-12"><button (click)='getgamemoket()'>Refresh List</button></div>
    </section>
</div>

