<table class="table table-striped table-advance table-hover" style="width: 100%">
        <thead>
            <th><i class="icon-bullhorn"></i> Mã CT</th>
            <th><i class="icon-list"></i> Tên CT</th>           
            <th><i class="icon-list"></i> Công Cụ</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of items; let i = index; trackBy: trackByFn">
          <td>{{item[field1]}}</td>
          <td>{{item[field2]}}</td>         
          <td><input type="button" title="Cập nhật CT" [routerLink]="['/updateprogram',item[field3]]" class="form-control" value="Cập nhật"></td>
        </tr>
        </tbody>
</table>